
# Secrets et Logs
config.py
architect.log
bourse_log.txt

# Poubelle Python
**/__pycache__/
*.pyc

# Brouillons et Explorations
# On ignore le contenu du dossier imports mais on peut garder le dossier
scripts/imports/
explo.ipynb
.vscode/