# --- SÉCURITÉ & CONFIG ---
# Identifiants et paramètres sensibles
config.py
scripts/config.py
.streamlit/
architect.log
bourse_log.txt

# --- PYTHON ---
# Fichiers compilés et cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# --- EXPLORATION & IDE ---
# On ignore le contenu des imports et les notebooks de test
scripts/imports/
explo.ipynb
.vscode/
dash_pft.pbix

# --- RUN ---
# On ignore les fichiers de lancement (optionnel, mais propre)
run/